
<h1>Dashboard</h1>
<p class="btn btn-info">Total categories: <%= @catCount %></p>
<p class="btn btn-info">Total products: <%= @prodCount %></p>
<p class="btn btn-info"><a href="app/views/admin/dashboard/show.html.erb">All categories and products</a></p>
